# Version control
.git
.gitignore

# Build artifacts
build/
.dart_tool/

# Platform-specific directories (not needed for web build)
android/
ios/
linux/
macos/
windows/

# IDE & editor files
.idea/
.vscode/
*.iml

# Miscellaneous
.metadata
*.md
image.png
